@charset "UTF-8";
form{
    margin-left:5%;
    margin-top: 2%;
    margin-bottom: 8%;
    background-color: rgb(244, 244, 244);  /* To add background color */
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* to apply box shadow for the form*/
    padding: 50px;
    border-radius: 10px;
}
input{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 4px;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus{
    outline: none;                  /* When we click to input something then it */
    border-color: blue;             /*focus to Blue color */
}
form button{
    text-align: center;
    padding: 10px;  /* gap between the content & cell border */ /* To increase the size of the button */
    text-align: center;
    cursor: pointer;
    width: 110%;   /* To increase button size and maintain 100% width */
    background-color: #007BFF;
    color: white;
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 4px;
}